:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #8f9197;
    --greyDark-2: #6b6b6b;
    --shadow: .3rem .3rem .6rem var(--greyLight-2), 
    -.2rem -.2rem .5rem var(--white);
    --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
    inset -.2rem -.2rem .5rem var(--white);
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--greyLight-1);
    font-size: 100%;
}

p {
    font-size: 10px;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: none;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
}
  

.header {
    text-align: center;
    color: var(--primary);
}

.header h2 {
    background-image: -webkit-linear-gradient(var(--primary), var(--primary-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs input[type="radio"]{
    display: none;
}

.tabs label {
    padding: 25px;
    border-radius: 50px;
    background-color: var(--greyLight-1);
    color: var(--primary-dark);
    order: 2;
}

.tabs .tab {
    width: 100%;
    order: 1;
    display: none;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.tabs input[type="radio"]:checked + label {
    background-color: var(--greyLight-2);
}

.dictionary-wrap {
    width: 75vw;
    height: 70vh;
    box-shadow: var(--shadow);
    border-radius: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    width: 95%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.la-to-en,
.en-to-la,
.forms-input-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-row: 1;
    height: 25px;
}
.la-to-en {
    grid-column: 1;

}
.en-to-la {
    grid-column: 2;
}

input {
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 1rem;
    box-shadow: var(--inner-shadow);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    padding: 5px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow);
    color: var(--greyLight-3);
    margin-left: -33px;
}
.search-button:active {
    box-shadow: var(--inner-shadow);
    color: var(--primary);
}
.search-button:hover {
    color: var(--primary);
}

::placeholder {
    color: var(--greyLight-3);
}

:focus {
    outline: none;
    box-shadow: var(--shadow);
}


/* definition styling */
.latin-def-wrapper,
.english-def-wrapper {
    font-family: inherit;
    font-size: 50px;
    padding: 20px;
    padding-top: 0px;
    grid-row: 2;
    margin-left: 20px;
    margin-top: -20px;
    text-align: left;
    border-radius: 0.75rem;
    box-shadow: var(--inner-shadow);
    background: none;
    overflow: scroll;
    color: var(--greyDark);
}

.latin-def-wrapper:hover,
.english-def-wrapper:hover {    
    box-shadow: var(--shadow);
}

.latin-def-wrapper {
    grid-column: 1;
}
.english-def-wrapper {
    grid-column: 2;
}

.definition {
    font-size: 0.9rem;
}

.forms-wrapper {
    position: absolute;
    width: 75%;
    height: 70%;
    overflow: scroll;
    box-shadow: var(--shadow);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrapper p {
    color: var(--greyDark-2);
    text-align: center;
    font-size: 1rem;
}

.forms {
    display: grid;
    margin-top: 25px;
    width: 65%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
}


#part-of-speech,
#forms-input {
    align-items: center;
    grid-row: 1;
}
#part-of-speech {
    height: 35px;
    grid-column: 1;
    align-items: right;
}
#forms-input {
    grid-column: 2;
    align-items: left;
}

.wiki-content-table {
    border-collapse: collapse;
    height: 99%;
    overflow: scroll;
    margin: 0 auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
.wiki-content-table thead tr {
    background-color: var(--primary-light);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.wiki-content-table th,
.wiki-content-table td {
    padding: 12px 15px;
}

.wiki-content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.wiki-content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.wiki-content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-dark);
}

.wiki-content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary);
}

.select {
    background: none;
    outline: none;
    border: none;
    width: 70%;
    box-shadow: var(--shadow);
    flex: 1;
    color: var(--greyDark-2);
    cursor:pointer;
    font-size: 1em;
    position: relative;
    display: flex;
    border-radius: 1rem;
    box-shadow: var(--inner-shadow);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    padding: 5px;
}

.select::-ms-expand {
    display: block;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.select:hover::after {
    color: var(--primary-dark);
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}