<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theo Tarr's Words</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="header">
        <div class="title">
            <h2>Theo Tarr's Words</h2>
        </div>
    </div>
    <div class="tabs">
        <input type="radio" class="tab-button" id="tab-dictionary" name="tabs" checked="checked">
        <label for="tab-dictionary">Dictionary</label>
        <div class="tab">
            <div class="dictionary-wrap">
                <div class="grid">
                    <div class="la-to-en">
                        <input placeholder="Latin to English" class="latin" type="text" id="latin" autocomplete="off">
                        <i id="latin-button" class="fa fa-search search-button" aria-hidden="true"></i>
                    </div>
                    <div class="en-to-la">      
                        <input placeholder="English to Latin" class="english" type="text" id="english" autocomplete="off">
                        <i id="english-button" class="fa fa-search search-button english-search" aria-hidden="true"></i>   
                    </div>
                    <div class="latin-def-wrapper">
                        <p id="latin-def" class="definition"></p>
                    </div>
                    <div class="english-def-wrapper">
                        <p id="english-def" class="definition"></p>
                    </div>
                </div>
            </div>
        </div>
        <input type="radio" class="tab-button" id="tab-forms" name="tabs">
        <label for="tab-forms">Forms</label>
        <div class="tab">
            <div class="forms-wrapper">
                <div class="forms">
                    <select id="part-of-speech" class="select">
                        <option value="noun">Noun</option>
                        <option value="verb">Verb</option>
                        <option value="adjective">Adjective</option>
                        <option value="pronoun">Pronoun</option>
                    </select>   
                    <div class="forms-input-wrapper">
                        <input id="forms-input" placeholder="Dictionary Entry Word or Infintive Form" type="text" autocomplete="off">
                        <i id="forms-button" class="fa fa-search search-button english-search" aria-hidden="true"></i>   
                    </div>   
                </div>
                <div id="forms-table"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Made by Theo Tarr Uses <a href="https://archives.nd.edu/words.html" target="_blank">William Whitaker's Words</a> and 
            <a href="http://latindictionary.wikidot.com/" target="_blank">Wikidot</a>
        </p>
    </div>
    <script src="static/script.js"></script>
    <script src="static/forms.js"></script>
</body>
</html>